<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style/css/style.css' %}">
</head>
<body>
    <div class="container main">
        <div class="tabs">
            <div class="tabs__item active" data-tab="ent">Вход</div>
            <div class="tabs__item" data-tab="reg">Регистрация</div>
        </div>
        <div class="tabs__content">
            <div class="tabs__form active" id="ent">
                <form action="" id='enter-form' >

                    {% csrf_token %}
                    <input type="tel" id="number-enter" name="number" placeholder="Номер телефона" required>
                    <input type="password" id="password-enter" name="password" placeholder="Пароль" required>
                    <button type="submit">Войти</button>
                </form>
            </div>
            <div class="tabs__form" id="reg">
                <form action="" id='foremans-form'>

                    {% csrf_token %}
                    <input type="text" id="surname" name="surname" placeholder="Фамилия" required>
                    <input type="text" id="name" name="name" placeholder="Имя" required>
                    <input type="text" id="patronymic" name="fathersName" placeholder="Отчество" required>
                    <input type="tel" id="number" name="number" placeholder="Номер телефона" required>
                    <input type="password" id="password" name="password" placeholder="Пароль" required>
                    <button type="submit">Зарегистрироваться </button>
                </form>
            </div>
        </div>

    </div>
    <script src = "{% static 'js/script.js' %}"> </script>
</body>
</html>